@CHARSET "UTF-8";
#info ul {
    margin-left: 60px;
    margin-right: 60px;
}

#info ul li{
    line-height: 50px;
    text-align: left;
    border-bottom-style: ridge ;
}



#man {
    margin-bottom: 10px;
}

